In [2]:
import webget

url = "https://ucr.fbi.gov/crime-in-the-u.s/2013/crime-in-the-u.s.-2013/tables/1tabledatadecoverviewpdf/table_1_crime_in_the_united_states_by_volume_and_rate_per_100000_inhabitants_1994-2013.xls/output.xls"
webget.download(url)

Downloading file to ./output.xls

'./output.xls'

In [3]:
import pandas as pd

# Load spreadsheet
x1 = pd.ExcelFile('output.xls')
# Print the sheet names
print(x1.sheet_names)
#Load a sheet into a DataFrame by name: df1
df= x1.parse('13tbl01')
title = df.iloc[0][0]

print(title)

['13tbl01']
Crime in the United States

In [4]:
df.iloc[2:5]

,Table 1,,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
2,Year,Population1,Violent\ncrime,Violent \ncrime \nrate,Murder and\nnonnegligent \nmanslaughter,Murder and \nnonnegligent \nmanslaughter \nrate,Rape\n(legacy\ndefinition)2,Rape\n(legacy\ndefinition)2\nrate,Robbery,Robbery \nrate,...,Burglary,Burglary \nrate,Larceny-\ntheft,Larceny-\ntheft rate,Motor \nvehicle \ntheft,Motor \nvehicle \ntheft \nrate,NaN,,NaN,NaN
3,1994,260327021,1857670,713.6,23326,9,102216,39.3,618949,237.8,...,2712774,1042.1,7879812,3026.9,1539287,591.3,NaN,NaN,NaN,NaN
4,1995,262803276,1798792,684.5,21606,8.2,97470,37.1,580509,220.9,...,2593784,987,7997710,3043.2,1472441,560.3,NaN,NaN,NaN,NaN

In [47]:
import numpy as np

temp1994 = df.iloc[3:4, 2:-4].values
temp1995 = df.iloc[4:5, 2:-4].values
temp1996 = df.iloc[5:6, 2:-4].values

sum1994 = np.sum(temp1994)
sum1995 = np.sum(temp1995)
sum1996 = np.sum(temp1996)

res = (sum1994+sum1995+sum1996)/3
print(res)

27574579.666666668